


<div class="choose_box">
  <%# 導入 %>
  <div id="q_00" class="fit">
    <p>ラーメン診断</p>
    <h3><a class="btn" href="#q_01">スタート</a></h3>
  </div>
  <%# 導入 %>

  <%# 質問１ %>
  <div id="q_01" style="display: none;">
    <p>あっさり？ こってり？</p>
    <ul class="flexbox fw">
      <li class="even"><a class="btn" href="#q_02">あっさり</a></li>
      <li class="odd"><a class="btn" href="#q_03">こってり</a></li>
    </ul>
  </div>
  <%# 質問１ %>
    
  <%# 質問２ %>
  <div id="q_02" style="display: none;">
    <p>今の気分は？</p>
      <ul class="flexbox fw">
        <li class="even"><a class="btn" href="#q_04">浜の香り〜</a></li>
        <li class="odd"><a class="btn" href="#q_05">コクと深み..</a></li>
      </ul>
  </div>
  <%# 質問２ %>
  
  <%# 質問３ %>
  <div id="q_03" style="display: none;">
    <p>今の気分は？</p>
      <ul class="flexbox fw">
        <li class="even"><a class="btn" href="#q_06">スタミナパワー！！</a></li>
        <li class="odd"><a class="btn" href="#q_07">優しくマイルド</a></li>
    </ul>
  </div>
  <%# 質問３ %>
    
  <div class = "answer">
  <%# 選択肢の答え① %>
  <div id="q_04" style="display: none;">
          <p>あなたにおすすめなのは…</p>
          <h4>『塩ラーメン』です！！</h4>
    <span><a class="btn" href="#q_00">もどる</a></span>
  </div>
  <%# 選択肢の答え① %>
    
  <%# 選択肢の答え② %>
  <div id="q_05" style="display: none;">
          <p>あなたにおすすめなのは…</p>
          <h4>『醤油ラーメン』です！！</h4>
      <span><a class="btn" href="#q_00">もどる</a></span>
  </div>
  <%# 選択肢の答え② %>

    <%# 選択肢の答え③ %>
  <div id="q_06" style="display: none;">
          <p>あなたにおすすめなのは…</p>
          <h4>『とんこつラーメン』です！！</h4>
    <span><a class="btn" href="#q_00">もどる</a></span>
  </div>
  <%# 選択肢の答え③ %>
    
  <%# 選択肢の答え④ %>
  <div id="q_07" style="display: none;">
          <p>あなたにおすすめなのは…</p>
          <h4>『味噌ラーメン』です！！</h4>
      <span><a class="btn" href="#q_00">もどる</a></span>
  </div>
  <%# 選択肢の答え④ %>
  </div>
</div>